mat-toolbar {
  display: flex;

  header {
    flex: auto;
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      li {
        margin: 20px;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
}

.feature-container {
  min-width: 500px;
  max-width: 1100px;
  margin: 40px auto;
}
