.form-container {
  margin: 5px 15px;

  .inner-form-value {
    padding: 10px;
    background-color: #DEDEDE;
    max-width: 650px;
    margin: 10px auto;
  }

  .example-form {
    width: 100%;

    .form-action {
      margin-bottom: 20px;
    }

    .input-container {
      span {
        color: red;
      }
    }
  }

  .example-full-width {
    width: 100%;
  }

  .form-detail-section {

    span {
      color: #002478;
    }
  }

}
