.view-container {
  display: flex;


  .list-part {
    width: 230px;
    margin: 5px;
    padding-right: 5px;
    border-right: solid 1px #002478;
  }

  .view-part {
    margin: 5px;
    flex: auto;
  }

}
